@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900,700);
@import url(./fonts.css);

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #1a1a1a;
  background: url('../images/grey.png');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5 {
  font-family: 'Merriweather', Helvetica, Arial, sans-serif;
}

.background {
  height: 100px;
  background: url('../images/congruent_outline.png');
}

.container {
  margin: 0 2em;
  position: relative;
}

.circle {
  width: 150px;
  height: 150px;
  background: #A30006;
  border-radius: 100%;
  margin: 0 auto;
  position: absolute;
  top: -75px;
  left: 50%;
  margin-left: -75px;
}

.circle p {
  font-family: 'Merriweather', Helvetica, Arial, sans-serif;
  color: white;
  text-align: center;
  line-height: 90px;
  font-size: 2em;
  font-weight: 900;
  font-style: italic;
}

article h1 {
  font-size: 2.5em;
  margin: 2.25em 0 0 0;
}

article h1, p.tagline {
  text-align: center;
  line-height: 1em;
}

article h2 {
  text-align: center;
  line-height: 1.5em;
  margin: 1.5em 0;
  color: #333333;
}

article p.tagline {
  font-family: inherit;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
}

.social-links ul {
  margin: 0 0 1em 0;
  padding: 0;
  border-top: 1px solid #999;
  border-bottom: 1px solid #999;
  display: block;
  text-align: center;
}

.social-links ul li {
  display: block;
}

.social-links ul li a {
  color: #1a1a1a;
  text-decoration: none;
  height: 48px;
  line-height: 48px;
  padding: 0 1em;
  display: block;
}

.social-links ul li a:hover {
  background: #a1a1a1;
  color: white;
}

.social-links ul li i {
  font-size: 1.5em;
  position: relative;
  top: 2px;
}

.social-links ul li i.icon-linkedin {
  position: relative;
  top: 0px;
}

@media screen and (min-width:768px) {

  .background {
    height: 300px;
    background: url('../images/macbook-air-compressed.jpg') 50% 35%;
    background-size: cover;
  }

  .circle {
    background: #1a1a1a;
    left: inherit;
    margin-left: inherit;
    top: -45px;
  }

  .circle p {
    line-height: 90px;
  }

  article h1, p.tagline {
    text-align: right;
  }

  article h1 {
    font-size: 3em;
    margin: .5em 0 0 0;
  }

  article h2 {
    text-align: left;
    font-size: 2em;
    margin: 3em 0em;
  }

  .social-links ul li {
    display: inline-block;
  }

  .social-links ul li a {
    color: #1a1a1a;
    text-decoration: none;
    height: 48px;
    line-height: 48px;
    padding: 0 1em;
    display: inline-block;
  }

  .container {
    width: 640px;
    margin: 0 auto;
  }
}
